################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xabbo-music/bin/**
/xabbo-music/obj/**
.vs/**